# ignore editor files
.idea

# ignore configuration files
.env
data/html/*
data/mysql/*
!data/html/.gitkeep
!data/mysql/.gitkeep

# ignore plugins
plugins/*
!plugins/composer.json
!plugins/composer.lock
!plugins/index.php

# ignoge themes
themes/*
!themes/recruitment-task-backend
!themes/index.php