# ignore editor files
.idea

# ignore configuration files
.env
/data/html/*
/data/mysql/*

# ignore plugins
plugins/*
!plugins/composer.json
!plugins/composer.lock
!plugins/index.php

# ignoge themes
themes/*
!themes/recruitment-task-backend
!themes/index.php